@model DemoEasyAuthB2CApp.Models.InfoViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    Email: @Model.Email <br />
    LoyaltiyID: @Model.LoyaltiyID <br />
    ADCD_ID: @Model.ADCD_ID <br />
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
